body {
    /*background-image:url('../../imagenes/imagenfondo.jpg');*/
    background-color: #2F2D2E;
}

.fondo {
    background-color: #343131;
}

.caja-login{
  background-color: #180202;
  max-width:350px;
  margin:0 auto;
  padding:2% 0 0;
  margin-top: 5%;
}
.formulario-login-cabecera {
    background-color: #180202;
    padding-top: 8px;
    width: 100%;
}
.formulario-login{
  box-shadow: 0 0 35px rgba(90,90,90,0.5);
  width:100%;
  /*background-color: #FF0;*/
}
.formulario-login-cabecera-fuente{
  font-size:22px;
  font-weight: bold;

}
.login-elements{

  padding-top:16px;
  padding-bottom:16px;
  width:100%;
}
.formulario-login-cabecera-fuente span{
  color:#007C9B;
}

.topnav navbar-expand-lg {
    background-color: #007C9B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.topnav {
    background-color: #120303;
    display: flex;
 /*   position: -webkit-sticky;
    position: sticky;
    top: 0;*/
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

    .topnav a {
        float: left;
        color: #ddd;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #D76262;
            color: black;
        }

        .topnav a.active {
            background-color: #D70E0E;
            color: white;
        }

.topnav-right {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.modal-confirm {
    background-color: #180202;
    color: #636363;
    width: 600px;
}

    .modal-confirm .modal-content {
        background-color: #180202;
        padding: 20px;
        border-radius: 5px;
        border: none;
        text-align: center;
        font-size: 14px;
    }

    .modal-confirm .modal-header {
        border-bottom: none;
        position: relative;
    }

    .modal-confirm h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -10px;
    }

    .modal-confirm .close {
        position: absolute;
        color: white;
        top: -5px;
        right: -2px;
    }

    .modal-confirm .modal-body {
        color: #999;
    }

    .modal-confirm .modal-footer {
        border: none;
        text-align: center;
        border-radius: 5px;
        font-size: 13px;
        padding: 10px 15px 25px;
    }

        .modal-confirm .modal-footer a {
            color: #999;
        }

    .modal-confirm .icon-box {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        border-radius: 50%;
        z-index: 9;
        text-align: center;
        border: 3px solid #f15e5e;
    }

        .modal-confirm .icon-box i {
            color: #f15e5e;
            font-size: 46px;
            display: inline-block;
            margin-top: 13px;
        }

    .modal-confirm .btn, .modal-confirm .btn:active {
        color: #fff;
        border-radius: 4px;
        background: #3077BD;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        min-width: 120px;
        border: none;
        min-height: 40px;
        border-radius: 3px;
        margin: 0 5px;
    }

    .modal-confirm .btn-secondary {
        background: #c1c1c1;
    }

        .modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
            background: #a8a8a8;
        }

    .modal-confirm .btn-danger {
        background: #f15e5e;
    }

        .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
            background: #ee3535;
        }

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

p {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

h5 {
    color: white;
}

h6 {
    color: white;
}

th {
    color: white;
}

thead {
    background-color: #CE1616;
}

btn-black {
    background-color: #180202;
}

.close {
    color: white;
}